# Root .htaccess
<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Do not redirect if the file or directory exists in public
    RewriteCond %{REQUEST_URI} !^/public/ [NC]
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
    RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
    
    # Rewrite all other requests to index.php
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>